<footer>
  <div class="f-info mx-auto">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/infinity_x_zero_/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/tarkeshvar-mani-287b00293/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/Tarkeshvar"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Infinity Private Limited</div>
    <div class="f-info-links">
      <a href="/listings">Privacy</a>
      <a href="/listings">Terms</a>
    </div>
  </div>
</footer>
